@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #616161;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#main-nav{
  background-color: #1C1C1C;
  padding: 35px 0;
}
/* container */
.container::before,
.container::after{
  content: "";
  clear: both;
}
.container::after{
  display: table;
}
/* main nav */
.container{
  width: 1140px;
  margin: auto;
}
.colom-4{
	max-width: 25%;
	width: 100%;
	float: left;
}
.logo{
  float: left;
}
.logo img{
  width: 143px;
}
#nav{
  float: right;
}
#nav li{
  display: inline-block;
}
#nav li a{
  display: block;
  color: #D0D0D0;
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
#nav li:last-child a{
	padding-right: 0;
}
#nav li a.active,
#nav li a:hover{
  color: #F74D4D;
}
#hero-header{
	background-color: #1f1f1f;
}
.hero-content{
	text-align: center;
	padding: 60px 0 80px;
	color: #D0D0D0;
	font-weight: 300;
}
.title-hero{
	font-size: 62px;
	margin-bottom: 30px;
	font-weight: 300;
}
.title-hero strong{
	font-weight: 900;
}
.desc-hero{
	font-size: 42px;
	margin-bottom: 60px;
	line-height: 1.2;
	letter-spacing: 0.6px;
}
.desc-hero i{
	font-style: italic;
}
.hero-btn{
	background-color: #F74D4D;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 18px 40px;
	border-radius: 5px;
	border: none;
	font-weight: 900;
	outline: 0;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
}
/* Services */
#services{
	background-color: #F6F6F6;
	padding: 80px 0;
}
.service-content{
	text-align: center;
}
.service-content img{
	height: 60px;
	margin-bottom: 25px
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
}
/* section */
.title-section{
	font-size: 32px;
	font-weight: 900;
	margin-bottom: 20px;
}
.desc-section{
	font-size: 20px;
	font-weight: 300;
}
.service-content h3{
	font-size: 18px;
	font-weight: 900;
	margin-bottom: 15px;
}
.service-content{
	font-size: 15px;
	line-height: 1.5;
}
#features{
	padding: 60px 0 80px;
	text-align: center;
}
.feature-cat{
	margin-top: 30px;
	margin-bottom: 30px;
}
.feature-cat li{
	display: inline-block;
}
.feature-cat li a{
	display: block;
	background-color: #F74D4D;
	color: #FFFFFF;
	padding: 12px 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 900;
	margin-right: 3px;

	transition: all 0.3s ease-in-out;
}
.feature-cat li a.active,
.feature-cat li a:hover{
	background-color: #616161;
}
.feature-gallery{
	margin-bottom: 10px;
}
.feature-gallery img{
	margin-bottom: 12px;
}

/* footer */
#main-footer{
	background-color: #252525;
	padding: 50px 0 60px;
	text-align: center;
}
#main-footer .title-section{
	color: #d9d9d9;
}
#main-footer .desc-section {
	color: #a5a5a5;
}
.address{
	margin-top: 30px;
}
.address li{
	display: inline-block;
	color: #a9a9a9;
	padding-right: 30px;
}
.address li img,
.address li p{
	display: inline-block;
}
.address li img{
	height: 12px;
	padding-right: 5px;
}
.social-menu{
	margin-top: 25px;
}
.social-menu li{
	display: inline-block;
	margin-right: 3px;
}
.social-menu img{
	height: 32px;
}
.copyright{
	background-color: #202020;
	padding: 15px 0;
	text-align: center;
	color: #a5a5a5;
}
